.navigation-link {
    color: #212529 !important;
    transition: 0s !important;
}

.navigation-link:hover {
    color: #fff !important;
    background-color: #212529;
    border-radius: 8px;
    opacity: 0.4;
}

.navbar-toggler {
    border: none !important;
}